 /* @import "tailwindcss";
/* @font-face{
  font-family:"pricedown";
  src:url("./pricedown.otf");
} */

/* 
html,body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  font-family:"pricedown";
} 
  */ 
/* 
  @import "tailwindcss";

@font-face {
  font-family: "pricedown";
  src: url("./pricedown.otf");
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "pricedown";
} */
/* @import "tailwindcss";

@font-face {
  font-family: "pricedown";
  src: url("./pricedown.otf");
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "pricedown";
} */
/* index.css */
@import "tailwindcss";

@font-face {
  font-family: "Pricedown";
  src: url("/fonts/pricedown.otf");
}

body {
  font-family: "Pricedown", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.font-pricedown {
  font-family: "pricedown", sans-serif;
}
